.root {
  display: flex;
  position: fixed;
  right: -100%;
  top: 0;
  width: 300px;
  max-height: 300px;
  transition: right 1s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  border-radius: 0 8px;
  background-color: #e9c46a;
  box-shadow: 0px 3px 5px #e9c46a;
  gap: 10px;
  padding: 20px;
  z-index: 5;

  .nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    font-family: "Nerko One", sans-serif;
    font-size: 30px;

    .nav-link {
      color: #bc6c25;
      display: flex;
    }
  }

  .icon {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    color: #bc6c25;
    width: 50px;
    margin: 15px;
    font-size: 20px;

    stroke-width: 3;
  }

  &.open {
    right: 0;
  }
}

// .sliding-menu {
//   position: fixed;
//   top: 0;
//   right: -350px; /* Initially hide the menu outside the page */
//   width: 350px;
//   height: 100%;
//   max-height: 350px;
//   background-color: #ccd5ae;
//   box-shadow: 0px 5px 5px #bc6c25;
//   border-radius: 0 8px;
//   transition: left 0.3s ease;

//   &.isOpen {
//     right: 0;
//   }
// }
